@font-face {
  font-family: Inter;
  src: url("./assets/fonts/inter-v18-latin-800.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/inter-v18-latin-700.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/inter-v18-latin-400.woff2") format("woff2");
  font-weight: 400;
}

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

/*! Resets */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 0.9375rem;
  background-color: var(--off-white);
  color: var(--very-dark-blue);
}

* {
  box-sizing: border-box;
  font-family: Inter;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

p {
  line-height: 1.425lh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*! Main stylings */
main {
  min-height: 100%;
  padding-inline: 1rem;
}

.wrapper {
  max-width: 1110px;
  margin-inline: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 2rem;
}

header > img {
  max-width: clamp(2.8125rem, 2.3724rem + 1.8779vw, 4.0625rem);
}

/* ! Hero text styling */
.hero-texts {
  h1 {
    font-size: clamp(2.525rem, 2.1377rem + 1.6526vw, 3.625rem);
    font-weight: 800;
    line-height: clamp(2.8125rem, 2.3724rem + 1.8779vw, 4.0625rem);
    margin-block: 1.325rem 0;
  }

  p {
    color: var(--dark-grayish-blue);
  }

  a {
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 4px;
    display: block;
    max-width: fit-content;
    padding: 1rem 2rem;
    background-color: var(--soft-red);

    transition:
      background-color 150ms linear,
      color 150ms linear;
    /* transition-delay: 50ms; */
  }

  a:hover {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
  }
}

/* ! New section styling */
.new-section {
  background-color: var(--very-dark-blue);
  color: var(--off-white);

  padding: 1.325rem;

  h2 {
    margin: 0;
    font-size: 2rem;
    color: var(--soft-orange);
  }

  a {
    display: grid;
    gap: 0.625rem;
    text-decoration: none;
  }

  a:not(a:last-of-type) {
    padding-block: 1.725rem;
    border-block-end: 1px solid var(--dark-grayish-blue);
  }

  a:last-of-type {
    padding-block-start: 1.725rem;
  }

  a:hover > h3 {
    color: var(--soft-orange);
  }

  h3 {
    font-size: 1.325rem;
    font-weight: 800;
    margin: 0;
  }

  p {
    color: var(--grayish-blue);
    margin: 0;
  }
}

/* ! Top News section styling */
.top-news-section {
  display: grid;
  gap: 2rem;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.625rem;
  }

  * {
    margin: 0;
  }

  img {
    max-width: 100px;
  }

  h2 {
    color: var(--soft-red);
    font-size: 2rem;
  }

  h3 {
    margin-block: 0.525rem;
    font-weight: 800;
  }

  a:hover h3 {
    color: var(--soft-red);
  }
}

.close-menu,
.open-menu {
  @media (width >= 500px) {
    cursor: pointer;
  }
}

/* ! ----- Layout styling ----- */
@media (width < 700px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-color: hsl(236, 13%, 10%, 0.5);
    z-index: 4;

    display: none;
    opacity: 0;
    transition-property: display opacity;
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-delay: 100ms;
    transition-behavior: allow-discrete;
  }

  .overlay.appear {
    display: block;
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 70%;
    min-height: 200%;
    z-index: 5;
    transform: translateX(100%);

    transition: 300ms ease;
    transition-delay: 100ms;

    background-color: var(--off-white);
    padding: 2rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;

    > img {
      align-self: flex-end;
    }

    ul {
      display: grid;
      gap: 1rem;
      width: 100%;
    }

    a {
      display: block;
      text-decoration: none;
      font-size: 1.325rem;
      padding: 0.5rem 1rem;
    }
  }

  .nav-menu.appear {
    transform: translateX(0);
  }

  .close-menu:active,
  .open-menu:active {
    scale: 0.94;
  }

  .open-menu {
    padding-block: 0.5rem;
  }

  .new-section {
    margin-block: 4rem;
  }
}

.grid-layout {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "hero"
    "new"
    "news";
}

.hero {
  grid-area: hero;
}

.new-section {
  grid-area: new;
}

.top-news-section {
  grid-area: news;
}

@media (width >=700px) {
  header {
    padding-block: 3rem;
  }

  .nav-menu {
    ul {
      display: flex;
      align-items: center;
      gap: 0.525rem;
    }

    a {
      text-decoration: none;
      color: var(--dark-grayish-blue);
      padding: 0.525rem 1rem;
    }

    a:hover {
      color: var(--soft-red);
    }
  }

  .close-menu,
  .open-menu {
    display: none;
  }

  .grid-layout {
    gap: 2rem;
    grid-template-areas:
      "hero hero"
      "new news";
  }

  .hero-texts {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media (width > 1140px) {
  body {
    height: 100%;
  }

  main {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

  header {
    padding-block: 2rem 0;
  }

  .grid-layout {
    padding-block: 3rem;
  }

  .hero-texts > div {
    display: grid;
    align-content: space-between;
  }

  .top-news-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-layout {
    grid-template-areas:
      "hero hero new"
      "news news news";
  }
}

/* ! Footer styling */
footer {
  padding-block: 8rem 3rem;
  text-align: center;

  a {
    text-decoration: none;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }
}
